.ToggleDrawer {
    background-color: transparent;
    width: 40px;
    height: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.ToggleDrawer div {
    height: 2px;
    width: 80%;
    margin: 3px;
    background-color: white;
}

@media (min-width: 1050px) {
    .ToggleDrawer {
        display: none;
    }
}